<?php
$CONFIG = array (
  'installed' => true,
  'dbtype' => 'mysql',
  'dbname' => '{{ db_name }}',
  'dbuser' => '{{ db_username }}',
  'dbpassword' => '{{ db_password }}',
  'dbhost' => '{{ db_hostname }}',
  'dbtableprefix' => 'oc_',
  'passwordsalt' => '{{ pw_salt }}',
  'forcessl' => {{ force_ssl }},
  'blacklisted_files' => 
  array (
    0 => '.htaccess',
  ),
  'overwritehost' => 'owncloud.makovey.net',
  'overwriteprotocol' => 'https',
  'overwritewebroot' => '/owncloud',
  'overwritecondaddr' => '',
  'proxy' => '',
  'proxyuserpwd' => '',
  'theme' => '',
  'default_language' => 'en',
  '3rdpartyroot' => '',
  '3rdpartyurl' => '',
  'defaultapp' => 'files',
  'knowledgebaseenabled' => true,
  'knowledgebaseurl' => 'http://api.apps.owncloud.com/v1',
  'appstoreenabled' => false,
  'appstoreurl' => 'http://api.apps.owncloud.com/v1',
  'mail_smtpdebug' => false,
  'mail_smtpmode' => 'sendmail',
  'mail_smtphost' => '127.0.0.1',
  'mail_smtpport' => 25,
  'mail_smtptimeout' => 10,
  'mail_smtpsecure' => '',
  'mail_smtpauth' => false,
  'mail_smtpauthtype' => 'LOGIN',
  'mail_smtpname' => '',
  'mail_smtppassword' => '',
  'trashbin_retention_obligation' => 180,
  'allow_user_to_change_display_name' => true,
  'appcodechecker' => '',
  'updatechecker' => true,
  'log_type' => 'syslog',
  'logfile' => '',
  'loglevel' => '',
  'remember_login_cookie_lifetime' => 1296000,
  'session_lifetime' => 86400,
  'custom_csp_policy' => 'default-src \'self\'; script-src \'self\' \'unsafe-eval\'; style-src \'self\' \'unsafe-inline\'; frame-src *; img-src *; font-src \'self\' data:; media-src *',
  'xframe_restriction' => true,
  'datadirectory' => '/var/lib/owncloud/data',
  'maintenance' => false,
  'apps_paths' => 
  array (
    0 => 
    array (
      'path' => '/usr/share/owncloud/apps',
      'url' => '/apps',
      'writable' => false,
    ),
    1 => 
    array (
      'path' => '/var/lib/owncloud/apps',
      'url' => '/apps-appstore',
      'writable' => true,
    ),
    2 =>
    array (
      'path' => '/var/www/owncloud/apps',
      'url' => '/apps-local',
      'writable' => false,
    ),

  ),
  'customclient_desktop' => '',
  'customclient_android' => '',
  'customclient_ios' => '',
  'logdateformat' => 'F d, Y H:i:s',
  'logtimezone' => 'Europe/Berlin',
  'instanceid' => '52bd1dffb1685',
  'version' => '5.0.25',
);
